.login-container {
  margin-top: 15%;
}

.login-form-1 {
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  padding: 5%;
  text-align: center;
}


.login-container form {
  padding: 10%;
}

.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.login-form-1 .btnSubmit {
  color: #fff;
  background-color: #0062cc;
}

.login-form-2 .btnSubmit {
  background-color: #fff;
  color: #0062cc;
}

.padlock-icon {
  display: block;
  max-width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.form-center{
  max-width: 100%;
  text-align: center;
}

.fv-plugins-message-container {
  margin-top: .25rem;
}
.fv-plugins-message-container .fv-help-block {
  color: #f64e60;
  font-size: .9rem;
  font-weight: 400;
}
